table {
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid white;
    width: 25%;
}
table tr:first-child{
    text-align: center;
}
button {
    display: block;
    width: 100%;
    background: #0e639c;
    color: white;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
select {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #333333;
    color: #fff;
}
.correct{
    color: #73d06e;
}
.incorrect{
    color: #f14c4c;
}